BING_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=AIzaSyD6pimrC1BlP1rbcE6smbIYfvdP2LvbBBY
OPENWEATHERMAP_API_KEY=69be47004b54fdb4345570eb7f1c8e10
ALPHA_VANTAGE_API_KEY=
FINNHUB_API_KEY=